<div id="<%= dom_id classroom %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome da turma:</strong>
    <%= classroom.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ano-letivo:</strong>
    <%= classroom.year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Série:</strong>
    <%= classroom.series %>
  </div>
</div>
